.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active{
    background:#00bcd4;
}
#sidebar{
    background:#000;
}
.sidebar:before, .off-canvas-sidebar:before{
    background-color:#000;
    opacity:.9;
    display: none;
}
.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text{
    color:#fff;
}
.sidebar .nav li>a, .off-canvas-sidebar .nav li>a{
    color:#fff;
}
.sidebar .sidebar-background:after, .off-canvas-sidebar .sidebar-background:after{
    background:#000;
    opacity:.7;
}
.sidebar .nav li:hover>a, .off-canvas-sidebar .nav li:hover>a{
    background:rgba(255,255,255, .2);
    color:#fff;
}
.nav>li>a:focus, .nav>li>a:hover{ background-color:inherit; }


















.main-panel{
    max-height: unset;
}
@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}
.btn.btn-link{
    background:none;
    display: inline;
    box-shadow:none;
    padding:0;
    margin:0;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background: #00bcd4;
}
.sidebar[data-color="blue"] .nav li.active ul li a, .off-canvas-sidebar[data-color="blue"] .nav li.active ul li a{
    box-shadow:none;
    background:none;
}
.sidebar[data-color="blue"] .nav li.active ul li.active a, .off-canvas-sidebar[data-color="blue"] .nav li.active ul li.active a{
    background:#00bcd4;
}
.dataTables_wrapper .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background:#00bcd4;
    border-color:#00bcd4;
}
.dataTables_wrapper .dataTables_length  .form-group.form-group-sm{
    margin: 20px 10px;
    overflow: hidden;
    padding: 0;
}
.dataTables_wrapper .dataTables_filter{
    float:right;
}
.dataTables_wrapper .dataTables_filter .form-group.form-group-sm{
    margin: 20px 10px 20px 10px;
    padding: 0;
    width: 230px;
}
.dataTables_wrapper .dataTables_filter .form-group.form-group-sm input{
    width:100%;
}
.dataTables_wrapper .sorting_desc{
    background:transparent url('../img/sort_desc.png') no-repeat right center scroll;
}
.dataTables_wrapper .sorting_asc{
    background:transparent url('../img/sort_asc.png') no-repeat right center scroll;
}
.dataTables_wrapper .sorting{
    background:transparent url('../img/sort_both.png') no-repeat right center scroll;
}
.dataTables_wrapper .dataTables_info{
    margin:40px 0 10px;
}
.dataTables_wrapper .dataTables_paginate{
    float:right;
    margin:20px 0 0;
}
.tags .tag{
    background: #43a047;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px 5px 5px;
    border-radius: 3px;
    position: relative;
    height: auto;
    line-height: 17px;
    display: inline-block;
}
.tags form{
    display: inline;
}
.tags .tag:last-child{ margin:0; }
.tags .tag i{
    font-size: 10px;
    position: absolute;
    top: 7px;
    right: 5px;
}
.tags .tag:hover i{ color:#e53935; }
#add-call-status-form{
    display: none;
    float: right;
    background: #fff;
    padding: 10px 15px 5px;
    overflow: hidden;
    border-radius: 0px;
}
#add-call-status-form .form-group{
    margin:0;
}
#add-call-status-form select{
    width: 300px;
    margin-right:15px;
}
#lead-summary-table{
    margin:0 0 50px;
}
#lead-summary-table.table tr:first-child td{
    border-top:1px solid #ddd;
}
#lead-summary-table.table td{
    text-align: center;
}
#lead-summary-graph{
    height:350px;
    margin:0 0 25px;
}
.full-page .full-page-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background:#000 url('../img/login.jpg') no-repeat center center / cover scroll;
}
.full-page .full-page-background:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background:rgba(0,0,0,.5);
}
.card-login{
    margin-top:200px;
    animation-delay:1s;
}
.agent-login-details h4{
    font-size:14px;
    font-weight: bold;
}
.agent-login-details .access-info{
    background: #eaeaea;
    padding: 30px;
    margin:0 0 30px;
}
.checkboxes{
    overflow: hidden;
}
.form-checkbox{
    float:left;
    margin-right:30px;
}
.filters .col-md-4{
    display: none;
}
fieldset{
    padding: 0 30px 30px;
    border: solid 1px #00bcd4;
}
fieldset legend{
    margin-bottom: 0;
    font-size: 18px;
    background: #00bcd4;
    width: auto;
    padding: 15px;
    color: #fff;
    font-weight: bold;
}
#dashboard-dates{
    margin-top:-30px;
}
#dashboard-dates input[type="text"]{
    width:100px;
}
#dashboard-dates button{
    width: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
#dashboard-dates button i{
    font-size: 12px;
}
#knob-container{
    border-left:1px solid #f4f4f4;
}
#knob-container .knob-label{
    margin-bottom: -5px;
    position: relative;
    z-index: 1;
    font-size: 12px;
    text-align: center;
}
#knob-container .knob-graph{
    width:100%;
    height:130px;
}
.tab-content{
    height:280px;
    overflow-x: auto;
}
.tab-pane-group{
    overflow: hidden;
    display: block;
    overflow: hidden;
    padding:5px;
    border-radius:5px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.tab-pane-group:hover{
    background:#f1f1f1;
}
.tab-pane-group .menu-icon{
    float:left;
    margin-right:10px;
    background:#4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 40px;
    margin-top: 0;
}
.tab-pane-group.no-answer .menu-icon{
    background: #f44336;
}
.tab-pane-group .menu-info{
    float:left;
}
.tab-pane-group .menu-info h4{
    font-size:14px;
    color:#3c8dbc;
    font-weight: bold;
    margin:0 0 -3px;
}
.tab-pane-group .menu-meta{
    font-size:11px;
    color:#3c8dbc;
}
.tab-pane-group.no-answer .menu-meta{
    color:#f44336;
}
#call-activities-loader, .dashboard-loader{
    font-size: 18px;
    margin-top: 85px;
    text-align: center;
}
#agent-realtime-view .label-default{
    background-color:#777;
}
#agent-calls-breakdown-table thead tr th{
    background:#00bcd4;
    color:#fff;
}
#report-content{
    height:auto;
    overflow: visible;
}
#report-content .form{
    background: #000 url('../img/login.jpg') no-repeat center 0 / cover scroll;
    padding: 30px 30px 30px 30px;
    position: relative;
    z-index: 1;
    border-radius:5px;
}
#report-content .form:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    background:rgba(0,0,0,.5);
}
#report-content .form .form-group.label-floating label.control-label, 
#report-content .form .form-group.label-placeholder label.control-label{
    color:#fff;
}
#report-content .form .form-control, 
#report-content .form .form-group .form-control{
    color:#fff;
}
#report-content .form .form-group .form-control option{
    color:#444;
}
#report-content .form .bootstrap-select{
    margin-top:0;
    background: none;
}
#report-content .form .bootstrap-select .dropdown-toggle.btn{
    background: rgba(255, 255, 255, .3);
    color: #fff;
    padding-left: 15px;
}
#report-content .form .bootstrap-select .dropdown-menu li a:hover, 
#report-content .form .bootstrap-select .dropdown-menu li a:focus, 
#report-content .form .bootstrap-select .dropdown-menu li a:active{
    background-color: #00bcd4;
}
#report-content .form .bootstrap-select.btn-group .dropdown-menu li.no-results{
    color:#444;
}
#report-content .form .bootstrap-select.btn-group .dropdown-menu li.selected{
    background: #00bcd4;
}
#report-content .form .bootstrap-select.btn-group .dropdown-menu li.selected a{
    color: #fff;
}
#report-content .form .bootstrap-select .glyphicon-ok.check-mark{
    margin-top:10px;
}
#report-content .form .bootstrap-select .glyphicon-ok.check-mark:before{
    content: '\f00c';
    font-family:'FontAwesome';    
}
#report-content .form .bootstrap-select input.form-control{
    color:#444;
}
#report-content .user{
    margin-bottom:70px;
}
.excel-table{
    display: none;
}
.per-circ {
    position: relative;
    text-align: center;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    background-color: #00cc00;
    background-image: linear-gradient(91deg, transparent 50%, #ccc 50%), linear-gradient(90deg, #ccc 50%, transparent 50%);
    margin:70px auto 20px;
    display: none;

    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.per-circ .per-circ-inner {
    position: relative;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    background-color: #eee;
}
.per-circ .per-circ-inner div {
    position: relative;
    top: 90px;
    color:#777;
}
.per-circ .per-circ-stat {
    font-size: 48px;
    font-weight: bold;
    line-height:1em;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.card .shield{
    width:75px;
}
.dt-button.buttons-csv.buttons-html5{
    background-color: #4caf50;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 30px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    float:right;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.dt-buttons{
    overflow: hidden;
}
.dt-button.buttons-csv.buttons-html5:hover{
    box-shadow:0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}